body,html{
	background-color: #f8f8f8;
}
.gameManage{
	display: block;
	width: 1208px;
	height: auto;
	margin: 23px auto 0;
    min-height: calc(100vh - 250px);
}

.iframeBox{
    display: block;
    width: 986px;
    float: left;
    margin-left: 9px;
    border-radius: 4px;
}
.statisticsBody{
	display: block;
	width: 100%;
	height: auto;
}
.statisticsLi{
	display: block;
	width: 100%;
	height: auto;
}
.statisticsLi .section{
	display: block;
	width: 986px;
	padding: 0 23px;
	margin: 0 auto 16px;
	overflow: hidden;
 	background: rgba(255,255,255,1);
    box-shadow: 0px 0px 6px 0px rgba(180,178,177,0.18);
}
.statisticsLi  .section .title{
	display: block;
	margin-top: 30px;
	font-size: 16px;
	color: #31373F;
	padding-left: 14px;
}
.statisticsLi .section .activeUser{
	height:34px;
	line-height: 34px;
	background:rgba(250,250,250,1);
	border:1px solid rgba(242, 242, 242, 1);
	font-size: 14px;
	color: #666666;
	margin:20px 0 20px 14px;
	cursor: pointer;
    display: inline-block;
    min-width: 96px;
    text-align: center;
    padding: 0 10px;
    outline: none;
}
#echartsLine{
	margin: 0 auto;
}
.echartName{
	display: block;
	text-align: center;
	width: 100%;
	font-size: 12px;
	color: #31373F;
	height: 18px;
	line-height: 18px;
	margin: 30px 0;
}
.echartName i{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #FF7375;
	border-radius: 50%;
	margin:0 10px 1px 0; 
}
.grandTotal{
	margin-top: 40px;
}
.grandTotal,.page{
    width: 885px;
    
}
.grandTotal table>tbody>tr>th{
	width:885px;
	height:30px;
	line-height: 30px;
	color: #999999;
	background:rgba(248,249,251,1);
	
}
.grandTotal table>tbody>tr>td,
.grandTotal table>tbody>tr>th{
	
	border: none;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}
.grandTotal table>tbody>tr>th{
	font-size: 16px;
}
.grandTotal table>tbody>tr>td{
	border-bottom: 1px solid #F2F2F2;
	height: 50px;
	line-height: 50px;
	color: #666666;
}
.page{
	height: 30px;
	line-height: 30px;
	text-align: right;
    margin-bottom: 30px;
    float: right;
}
.page .prevpage,.page .nextpage{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #F3F3F3;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    margin: 0 4px 3px 4px;
}
.page .prevpage:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 6px;
    border-style: solid;
    border-color:  transparent #B5B5B5 transparent transparent;
    position: absolute;
	left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -9px;
}
.page .nextpage:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 6px;
    border-style: solid;
    border-color:  transparent  transparent transparent #B5B5B5;
    position: absolute;
	left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -2px;
}
.page .pageInput{
	display: inline-block;
	width:50px;
	height:20px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(243, 243, 243, 1);
	vertical-align: middle;
	margin-bottom: 2px;
	text-align: center;
}
.page .pageRun{
	width:46px;
	height:20px;
	line-height: 18px;
	font-size: 12px;
	color: #666666;
	background:rgba(252,252,252,1);
	border:1px solid rgba(243, 243, 243, 1);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}
.section .dateInterval {
	display: inline-block;
	color: #999999;
	font-size: 14px;
	margin: 0 30px 0 30px;
}

.section .dateInterval .laydateInput {
	width: 110px;
	padding: 0 10px;
	height: 34px;
	border: 1px solid rgba(242, 242, 242, 1)
}

.section .searchBtn {
	display: inline-block;
	text-align: center;
	line-height: 34px;
	width: 80px;
	height: 34px;
	background: linear-gradient(0deg, #d9353f, #f14f59);
	/* Webkit: Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9353f), to(#f14f59));
	/* Webkit: Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(top, #d9353f, #f14f59);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #d9353f, #f14f59);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #d9353f, #f14f59);
	/* IE 10 */
	background: -ms-linear-gradient(top, #d9353f, #f14f59);
	/* IE < 10 */
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#d9353f, endColorStr=#f14f59);
	border-radius: 6px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}