body,html{
	background-color: #f8f8f8;
}
.gameManage{
	display: block;
	width: 1208px;
	height: auto;
	margin: 23px auto 0;
    min-height: calc(100vh - 250px);
}
.nav-list{
	float: left;
	width:203px;
	height:auto;
	
}
.nav-list .levelLi{
	display: block;
	width: 100%;
	height: auto;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 4px 0px rgba(207,206,206,0.2);
	border-radius:4px;
	margin-bottom: 16px;
	padding: 7px 0;
}
.nav-list .levelLi .first-level{
	display: block;
	width: 100%;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	cursor: pointer;
	padding-left: 60px;
	position: relative;
}
.nav-list .levelLi .first-level .level-icon{
	position: absolute;
	left: 24px;
	top: 50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%); 	/* IE 9 */
	-moz-transform:translateY(-50%); 	/* Firefox */
	-webkit-transform:translateY(-50%); /* Safari 和 Chrome */
	-o-transform:translateY(-50%); 	/* Opera */
	display: inline-block;
	width: 28px;
}
.nav-list .levelLi .first-level .level-click{
	display: inline-block;
	width: 14px;
    right: 24px;
    top: 23px;
    position: absolute;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;	/* Firefox 4 */
	-webkit-transition: all 0.5s ease-in-out;	/* Safari 和 Chrome */
	-o-transition: all 0.5s ease-in-out;	/* Opera */
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
.nav-list .levelLi .first-level .up{
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); 	/* Opera */
}
.nav-list .levelLi .first-level .down{
	
}
.nav-list .levelLi .second-level{
	display: block;
	width: 100%;
	height: auto;
}
.nav-list .levelLi .second-level li{
	display: block;
	width: 100%;
	line-height: 50px;
	font-size: 16px;
	cursor: pointer;
}
.nav-list .levelLi .second-level li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 60px;
}
.nav-list .levelLi .second-level li.active,.nav-list .levelLi .second-level li.active a{
	color: #ff4a55;
}
.iframeBox{
	display: block;
	width: 986px;
	float: left;
	margin-left: 9px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 6px 0px rgba(180,178,177,0.18);
	border-radius:4px;
}
.manageHead{
	display: block;
	width: 1208px;
	height: auto;
	margin-bottom: 15px;
	position: relative;
}
.manageHead .gameSelect{
	display: block;
	float: left;
	width:203px;
	height:56px;
	line-height: 56px;
	background:rgba(255,255,255,1) url(../img/game_select.png) no-repeat 164px center;
	box-shadow:0px 0px 4px 0px rgba(207,206,206,0.2);
	border-radius:4px;
	font-size:16px;
	color: #31373F;
	cursor: pointer;
}
.manageHead .gameSelectUl{
	border: none;
    width: 203px;
}
.manageHead .gameSelectUl li{
	display: block;
	width: 100%;
    cursor: pointer;
}
.manageHead .dropdown-menu>li>a{
	padding: 10px 0 10px 24px;
}
.manageHead .gameSelectUl li img{
	display: inline-block;
	margin-right: 16px;
	width: 20px;
	height: 20px;
}
.manageHead .gameSelectUl li span{
	display: inline-block;
	line-height: 20px;
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    vertical-align: middle;
}
.manageHead .gameSelect img{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 16px 4px 24px;
	    vertical-align: middle;
}
.manageHead .gameSelect span{
	display: inline-block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    vertical-align: middle;
}
.manageHead .game_number{
	float: left;
	width:986px;
	height:56px;
	line-height: 56px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 6px 0px rgba(180,178,177,0.18);
	border-radius:4px;
	margin-left: 9px;
	padding:0 32px;
}
.manageHead .game_number a{
	float: right;
    color: #F54B5B;
    cursor: pointer
}
.iframeBox .section{
	width: 986px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 3px 0px rgba(180,178,177,0.18);
	border-radius:2px;
	position: relative;
	padding-bottom: 20px;
}
.iframeBox .section .editBtn{
	display: inline-block;
	color: #F54B5B;
	font-size: 14px;
	position: absolute;
	top: 46px;
	right: 32px;
}
.iframeBox .section .editBtn img{
	display: inline-block;
	width: 15px;
	margin-bottom: 2px;
	margin-right: 7px;
}
.iframeBox .section .title{
	padding: 0 34px;
	line-height: 68px;
	font-size: 16px;
}
.iframeBox .section .basicMessage{
	display: block;
	width: 440px;
	height: auto;
	margin-left: 175px;
}
.basicMessage li{
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
	color: #31373F;
}
.basicMessage li span{
	display: block;
	float: left;
	width: 60px;
	text-align: right;
	height: 40px;
	line-height: 40px;
}
.basicMessage li div{
	display: block;
	width: 340px;
	min-height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 31px;
	position: relative;
}
.basicMessage li div .android_icon{
	display: block;
	width:100px;
	height:100px;
	text-align: center;
	margin: 0;
	line-height: 100px;
	background:rgba(233,233,233,1);
	border-radius:15px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.basicMessage li div input{
	display: block;
	width: 340px;
	height: 40px;
	line-height: 40px;
	border:1px solid rgba(232,223,223,1);
	padding: 0 17px;
	border-radius:4px;
}
.basicMessage li div .secretBtn{
	position: absolute;
	width: 24px;
	top: 17px;
	right: 14px;
	cursor: pointer;
}
.iframeBox .section .imgBox{
	display: block;
	width: 100%;
	height: auto;
}
.iframeBox .section .imgBox .fl,
.iframeBox .section .imgBox .fc,
.iframeBox .section .imgBox .fr{
	float: left;
}
.iframeBox .section .imgBox .fl .img-title,
.iframeBox .section .imgBox .fc .img-title,
.iframeBox .section .imgBox .fr .img-title{
	display: block;
	width: 100%;
	font-size: 14px;
	color: #31373F;
	margin: 31px 0 15px;
}
.iframeBox .section .imgBox .fl{
	width: 220px;
	margin-left: 33px;
}
.imgBox .fl #icon_256_label{
	width: 220px;
	height: auto;
}
.imgBox .fl .img-i1-1{
   width:220px;
	height:220px;
	background:rgba(233,233,233,1);
	border-radius:15px 15px 0px 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.imgBox .fl .img-i1-2{
  width: 220px;
  height: 76px;
  background:rgba(233,233,233,1);
  border-radius: 0 0 10px 10px;
}
.colorPicker{
    margin-top: 16px;
    margin-bottom: 77px;
    position: relative;
    width:220px;
	height:40px;
    border:1px solid rgba(232,223,223,1);
	border-radius:4px;
}
.img-color-box {
    position: relative;
    width: 180px;
    height: 38px;
    line-height: 38px;
    padding-left: 17px;
    color: #B5B5B5;
    cursor: pointer;
}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #B5B5B5;
    position: absolute;
    top: 18px;
    right: 13px;
}
#myColorPicker{
	display: none;
	position: absolute; 
	right: 0px; 
	top: 44px;
	z-index: 1;
	border: 2px solid #a5acb7;
	width: 317px;
	height: 246px;
}
#myColorPicker table,#myColorPicker tr,#myColorPicker td{
	border: none;
}
#myColorPicker td{
	width: 70px;
	height: 70px;
}
.warnUl{
	display: block;
	width: 100%;
	float: left;
	padding-left: 50px;
	margin-bottom: 30px;
}
.warnUl li{
	font-size: 14px;
	color: #B5B5B5;
	line-height: 30px;
	position: relative;
	padding-left: 9px;
}
.warnUl li:before{
	content: "";
	display: block;
	width:4px;
	height:4px;
	background:rgba(181,181,181,1);
	border-radius:50%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -2px;
}
.imgBox .fc{
	width: 150px;
	margin-left: 76px;
}
.imgBox .fc .img-i2-1 {
    width: 128px;
    height: 128px;
    background: rgba(233,233,233,1);
    border-radius: 15px 15px 0px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:15px;
}
.imgBox .fr{
	margin-left: 76px;
}
.imgBox .fr .img-i3-1{
	width:198px;
	height:352px;
	background:rgba(233,233,233,1);
 	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.warn-outBox{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}
.warn-outBox .winbg{
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.warn-outBox .warn-inner{
	display: block;
	width:630px;
	height:315px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 6px 0px rgba(180,178,177,0.18);
	border-radius:4px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.warn-outBox .warn-inner .del_head {
    width: 630px;
    height: 70px;
    line-height: 70px;
    background: rgba(248,248,248,1);
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    color: #4A4E67;
}
.warn-outBox .warn-inner .del_main,
.warn-outBox .warn-inner .del_main{
	width: 360px;
	margin: 0 auto;
}
.warn-outBox .warn-inner .del_main .game_name {
    display: block;
    width: 100%;
    font-size: 14px;
    color: #4A4E67;
    line-height: 90px;
}
.warn-outBox .warn-inner .del_main .btn-modal-no{
	width:144px;
	height:40px;
	border:1px solid rgba(239,77,87,1);
	border-radius:4px;
	float: left;
	outline: none;
	background-color: #fff;
	color: rgba(239,77,87,1);
	cursor: pointer;
}
.warn-outBox .warn-inner .del_main .btn-modal-yes{
	width:144px;
	height:40px;
	background:linear-gradient(0deg,rgba(217,53,63,1),rgba(241,79,89,1));
	border-radius:4px;
	border: none;
	outline: none;
	float: right;
	color: #fff;
	cursor: pointer;
}
.warn-outBox .warn-inner .del_main .passwordBox{
	margin-bottom: 39px;
}
.warn-outBox .warn-inner .del_main .passwordBox .pas_input{
	display: inline-block;
	width:283px;
	height:40px;
	border:1px solid rgba(232,223,223,1);
	border-radius:6px;
}
.warn-outBox .warn-inner .del_main .passwordBox a{
	display: inline-block;
	background: none;
	color: #F04E58;
	font-size: 14px;
	width: auto;
	margin-left: 7px;
}