
.table {
  width: 910px;
  margin: 0 auto;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
      padding: 26px;
      text-align: center;
      color: #4A4E67;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
  text-align: center;
  padding: 16px;
  color: #4A4E67;
  border-bottom: 0;
}
.modal-body {
  text-align: left;
  padding: 20px 130px;
}
.control-label {
  margin-bottom: 10px!important;
}


/*提示性modal*/
.modal-dialog {
  width: 550px;
}

.modal-header {
  border-radius: 6px 6px 0 0;
  height: 70px;
  padding: 19px;
  background: #FAFBFD;
  border-bottom: 0;
}
.title-sec {
  /*height: 20px;*/
}
.title-text {

font-size:20px; 
color:rgba(74,78,103,1); 
}

.modal-body {
  width: 361px;
  margin: 40px auto;

  padding: 0;
}

.modal-body p {
  
font-size:14px;
font-family:MicrosoftYaHei;
font-weight:400;
color:rgba(74,78,103,1);
}
.modal-footer-diy {
  border-top: 0;
  margin: 0 auto;
  width: 361px;
  height: 40px;
  margin-bottom: 40px;
}

.btn-modal-no {
  position: relative;
  float: left;
    width:144px;
  height:40px;
  background: #98A0B2;
  border-radius:6px;
  color: #fff;
}
.btn-modal-yes {
  position: relative;
  float: right;
    width:144px;
  height:40px;
}

#myModalLabel {
  line-height: 32px;

font-size:20px; 
color:rgba(74,78,103,1)
}

.form-group {
  margin-left: 0;
  margin-right: 0;
}