body,html{
	background-color: #f8f8f8;
}
.gameManage{
	display: block;
	width: 1208px;
	height: auto;
	margin: 23px auto 0;
    min-height: calc(100vh - 250px);
}
.nav-list{
	float: left;
	width:203px;
	height:auto;
	
}
.nav-list .levelLi{
	display: block;
	width: 100%;
	height: auto;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 4px 0px rgba(207,206,206,0.2);
	border-radius:4px;
	margin-bottom: 16px;
	padding: 7px 0;
}
.nav-list .levelLi .first-level{
	display: block;
	width: 100%;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	cursor: pointer;
	padding-left: 60px;
	position: relative;
}
.nav-list .levelLi .first-level .level-icon{
	position: absolute;
	left: 24px;
	top: 50%;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%); 	/* IE 9 */
	-moz-transform:translateY(-50%); 	/* Firefox */
	-webkit-transform:translateY(-50%); /* Safari 和 Chrome */
	-o-transform:translateY(-50%); 	/* Opera */
	display: inline-block;
	width: 28px;
}
.nav-list .levelLi .first-level .level-click{
	display: inline-block;
	width: 14px;
    right: 24px;
    top: 23px;
    position: absolute;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;	/* Firefox 4 */
	-webkit-transition: all 0.5s ease-in-out;	/* Safari 和 Chrome */
	-o-transition: all 0.5s ease-in-out;	/* Opera */
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 	/* Opera */
}
.nav-list .levelLi .first-level .up{
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); 	/* IE 9 */
	-moz-transform:rotate(0deg); 	/* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg); 	/* Opera */
}
.nav-list .levelLi .first-level .down{
	
}
.nav-list .levelLi .second-level{
	display: block;
	width: 100%;
	height: auto;
}
.nav-list .levelLi .second-level li{
	display: block;
	width: 100%;
	line-height: 50px;
	font-size: 16px;
	cursor: pointer;
}
.nav-list .levelLi .second-level li a{
	display: block;
	width: 100%;
	height: 100%;
	padding-left: 60px;
}
.nav-list .levelLi .second-level li.active,.nav-list .levelLi .second-level li.active a{
	color: #ff4a55;
}
.iframeBox{
	display: block;
	width: 986px;
	float: left;
	margin-left: 9px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 6px 0px rgba(180,178,177,0.18);
	border-radius:4px;
}
.manageHead{
	display: block;
	width: 1208px;
	height: auto;
	margin-bottom: 15px;
	position: relative;
}
.manageHead .gameSelect{
	display: block;
	float: left;
	width:203px;
	height:56px;
	line-height: 56px;
	background:rgba(255,255,255,1) url(../img/game_select.png) no-repeat 164px center;
	box-shadow:0px 0px 4px 0px rgba(207,206,206,0.2);
	border-radius:4px;
	font-size:16px;
	color: #31373F;
	cursor: pointer;
}
.manageHead .gameSelectUl{
	border: none;
    width: 203px;
}
.manageHead .gameSelectUl li{
	display: block;
	width: 100%;
    cursor: pointer;
}
.manageHead .dropdown-menu>li>a{
	padding: 10px 0 10px 24px;
}
.manageHead .gameSelectUl li img{
	display: inline-block;
	margin-right: 16px;
}
.manageHead .gameSelect img{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 16px 4px 24px;
}
.manageHead .game_number{
	float: left;
	width:986px;
	height:56px;
	line-height: 56px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 6px 0px rgba(180,178,177,0.18);
	border-radius:4px;
	margin-left: 9px;
	padding-left: 32px;
}
.iframeBox .section{
	width: 986px;
	background:rgba(255,255,255,1);
	box-shadow:0px 0px 3px 0px rgba(180,178,177,0.18);
	border-radius:2px;
	position: relative;
}
.iframeBox .section .title{
	padding: 0 34px;
	line-height: 68px;
	font-size: 16px;
}
.iframeBox .section .title .fr{
	float: right;
}
.section .dateInterval{
	display: inline-block;
	color: #999999;
	font-size: 14px;
	margin:0 30px 0 30px;
}
.section .dateInterval .laydateInput{
	width: 110px;
	padding: 0 10px;
	height: 34px;
	border:1px solid rgba(242, 242, 242, 1);
}
.section .searchBtn{
	display: inline-block;
	text-align: center;
	line-height: 34px;
	width:80px;
	height:34px;
	background:linear-gradient(0deg,#d9353f,#f14f59);
	/* Webkit: Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d9353f), to(#f14f59)); 
	/* Webkit: Safari 5.1+, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, #d9353f, #f14f59); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, #d9353f, #f14f59); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #d9353f, #f14f59); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #d9353f, #f14f59); 
	/* IE < 10 */ 
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#d9353f, endColorStr=#f14f59);
	border-radius:6px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
.grandTotal{
	margin: 40px auto;
}
.grandTotal,.page{
    width: 885px;
    
}
.grandTotal table>tbody>tr>th{
	width:885px;
	height:30px;
	line-height: 30px;
	color: #999999;
	background:rgba(248,249,251,1);
	
}
.grandTotal table>tbody>tr>td,
.grandTotal table>tbody>tr>th{
	
	border: none;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}
.grandTotal table>tbody>tr>th{
	font-size: 16px;
}
.grandTotal table>tbody>tr>td{
	border-bottom: 1px solid #F2F2F2;
	height: 50px;
	line-height: 50px;
	color: #666666;
}
.grandTotal .table .Td:nth-child(odd){
	background-color: #fcfcfc;$00e8faff
}
.page{
	height: 30px;
	line-height: 30px;
	text-align: right;
    margin-bottom: 30px;
    float: right;
}
.page .prevpage,.page .nextpage{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #F3F3F3;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    margin: 0 4px 3px 4px;
}
.page .prevpage:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 6px;
    border-style: solid;
    border-color:  transparent #B5B5B5 transparent transparent;
    position: absolute;
	left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -9px;
}
.page .nextpage:after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-width: 6px;
    border-style: solid;
    border-color:  transparent  transparent transparent #B5B5B5;
    position: absolute;
	left: 50%;
    top: 50%;
    margin-top: -6px;
    margin-left: -2px;
}
.page .pageInput{
	display: inline-block;
	width:50px;
	height:20px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(243, 243, 243, 1);
	vertical-align: middle;
	margin-bottom: 2px;
	text-align: center;
}
.page .pageRun{
	width:46px;
	height:20px;
	line-height: 18px;
	font-size: 12px;
	color: #666666;
	background:rgba(252,252,252,1);
	border:1px solid rgba(243, 243, 243, 1);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}