
.regMain{
    margin: 132px auto 0;
    width: 900px;
    border-radius: 5px;
    background:url(../img/regBg.png) no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 25px 10px #e7e7e7;
    overflow: hidden;
    height: 450px;
}
.regMain .fl{
	float: left;
	display: block;
	height: 590px;
}
.regMain .fr{
	float: right;
	width: 400px;
	box-sizing: border-box;
    padding: 0 35px 0 25px;
}
.regMain .fr .formUl{
	width: 100%;
	height: auto;
	padding-top: 40px;
}
.regMain .fr .formUl li{
	display: block;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	height: auto;
	position: relative;
}
.regMain .fr .formUl li input{
	display: block;
	width: 100%;
	height: 40px;
	font-size: 14px;
	border: 1px solid #f0eaea;
	box-sizing: border-box;
	padding: 0 19px;
	border-radius: 5px;
}
.regMain .fr .formUl li input::-webkit-input-placeholder {
  color: #bebdbd;
}
.regMain .fr .formUl li input:focus{
	border-color: #f05962;
}
.regMain .fr .formUl li input+span{
	display: block;
	height: 24px;
	line-height: 24px;
}
.regMain .fr .formUl li .code{
    display: inline-block;
    height: 38px;
    position: absolute;
    z-index: 1;
    top: 1px;
    right: 1px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}
.regMain .fr .formUl li #canvas{
	display: block;
}
.regMain .fr .formUl li .phoneCode{
	width: 110px;
	height: 32px;
	line-height: 32px;
	position: absolute;
	background-color: #fff;
	border: none;
	border-left: 1px solid #e8dfdf;
	outline: none;
	right: 1px;
	top: 4px;
	text-align: center;
	color: #ef4d57;
	font-size: 14px;
}
.regMain .fr .formUl li .phoneCode.disabled{
	color: #ccc;
}
.regMain .fr .red_button{
	display: block;
	width: 100%;
	height: 46px;
	line-height: 46px;
	text-align: center;
	color: #fff;
	background-color: #ef4d57;
	border: none;
	outline: none;
	font-size: 16px;
	border-radius: 5px;
}
.footer {
	text-align: center;
  	margin-top: 150px; 
  	font-size: 14px;
  	border-bottom: 3px #EA4554 solid;
}
.qq {
	font-weight: 400;
	color: #4a4e67;
}
.company {
	margin-top: .4rem;
  	font-weight:400;
  	color:#4a4e67;
}
.copyright {
	margin-top: .4rem;
	margin-bottom: 56px; 
	font-family:MicrosoftYaHei;
	font-weight:400;
	color:rgba(158,172,202,1);
}
