/*颜色*/
.color-black{ color: black;}
.color-grey{ color: #ccc;}
.bg-red{ background-color: #ff715b;}
.bg-blue{ background-color: #1dafec;}

/*边界*/
.f-mt--20{ margin-top: -20px;}
.f-mb-10{ margin-bottom: 10px;}
.f-mb-40{ margin-bottom: 40px;}
.f-mt-40{ margin-top: 40px;}

/*按钮*/
.btn-format{ width: 123px; height: 30px; line-height: 30px; text-align: center; display: inline-block; background-color: #009fef; cursor: pointer; color: #fff;}
.btn-format:hover{ color: #fff;}

/*按钮导航*/
.m-btn-nav{ margin: 15px 0 20px;}
.m-btn-nav .btn{ background-color: #fff; border-color: #ccc; border-radius: 30px; padding: 8px 25px; font-size: 14px; box-shadow: none; margin-right: 12px; margin-bottom: 12px;}
.m-btn-nav .btn:hover{background-color: #e3e3e3; border-color: #bbbaba;}
.m-btn-nav .active,.m-btn-nav .active:focus{ color: #00aeef; border-color: #00aeef; background-color: #fff;}
.m-btn-nav .active:hover{ color: #0088bb; border-color: #0088bb; background-color: #fff;}

/*文档中心菜单*/
.position-fixed{ width: 276px; position: fixed; top: 70px;}
.m-wiki-nav{ background-color: #fff; border: solid 1px #e9e9e9; padding: 10px 15px 20px;}
.m-wiki-nav .list-group-item{ border: none; border-radius: 0; background-color: #fff; color: #b3b3b3; padding: 0;}
.m-wiki-nav .list-group{ margin: 0; padding: 10px 0; display: none;}
.m-wiki-nav .glyphicon{ margin-right: 10px;}
.m-wiki-nav>.list-group-item{ font-size: 16px; font-weight: bold; height: 55px; line-height: 55px; border-bottom: solid 1px #e9e9e9; border-top: solid 1px #e9e9e9;}
.m-wiki-nav>.list-group-item:first-child{ border-top: none;}
.m-wiki-nav>.list-group-item:hover,.m-wiki-nav>.list-group-item:focus{ color: #b3b3b3; background-color: #fff; border-color: #e9e9e9;}
.m-wiki-nav>.list-group{ margin-left: 20px;}
.m-wiki-nav>.list-group>.list-group-item{ height: 40px; line-height: 40px;}
.m-wiki-nav>.list-group>.list-group-item:hover,.m-wiki-nav>.list-group>.list-group-item:focus{ color: #b3b3b3; background-color: #fff;}
.m-wiki-nav>.list-group>.list-group>.list-group-item{ height: 35px; line-height: 35px; margin-left: 20px;}
.m-wiki-nav>.list-group>.list-group>.list-group-item:hover,.m-wiki-nav>.list-group>.list-group>.list-group-item:focus{ color: #b3b3b3; background-color: #fff;}
.m-wiki-nav>.list-group>.list-group>.active,.m-wiki-nav>.list-group>.list-group>.active:hover,.m-wiki-nav>.list-group>.list-group>.active:focus{ color: #1dafec;}

/*主体内容样式*/
.col-lg-9{ padding-left: 0;}
.m-content{ color: #000; min-height: 600px; padding: 50px;border: solid 1px #e9e9e9; background-color: #fff;white-space:normal;word-wrap:break-word;word-break:break-all;}
.m-content .page-header{ border-color: #a8a8a8; padding: 20px 0; margin: 0 0 30px;}
.m-content .page-header h1{ font-size: 20px; font-weight: bold; float: left;}
.m-content .page-header span{ margin-top: 5px;}
.m-content img{ display: inline-block; margin-bottom: 20px; max-width: 600px;}
.m-content p{ line-height: 28px; margin-bottom: 20px;}
.m-content h3{ font-size: 20px; font-weight: bold; margin-bottom: 5px; padding-top: 20px;}
.m-content .operation{ text-align: center; margin: 80px 0 70px;}
.m-content .operation a{ width: 90px; display: inline-block; margin: 0 20px; font-size: 16px; color: #303133; text-decoration: none; cursor: pointer;}
.m-content .operation span{ width: 90px; height: 90px; padding-top: 20px; margin-bottom: 15px; line-height: 22px; border-radius: 50%; display: block; font-size: 12px; color: #fff;}
.m-content .status{ padding-bottom: 10px; border-bottom: solid 1px #a8a8a8; margin-bottom: 20px;}
.m-content .status img{ vertical-align: middle; margin: 0 3px 0 0;}
.m-content .status .more{ font-size: 12px; color: #7d7d7d;}
.m-content .next-article{ font-size: 16px; text-align: right; margin-bottom: 55px;}
.m-content .next-article a{ color: #303133;}
.m-content table,.m-content td { color: #333; background-color: whitesmoke; border: solid 1px #ccc;}
.m-content td{ line-height: 30px; padding-left: 10px;}

    /*评论*/
.m-comment{ min-height: 340px; background-color: #fff; padding: 20px; margin-bottom: 20px;}
.m-comment h3{ font-size: 18px; font-weight: bold; color: #000; margin-bottom: 10px;}
.m-comment textarea{ margin-bottom: 15px; border-color: #e6e6e6;}
.m-comment .textarea1{ height: 184px;}
.m-comment .textarea2{ height: 90px;}
.m-comment img{ margin-right: 15px;}
.m-comment .head-text{ color: #808080; margin-bottom: 10px;}
.m-comment .main-text{ color: #000; font-size: 16px; margin-bottom: 10px; padding-right: 30px;}
.lines-x{ width: 100%; height: 1px; background-color: #e6e6e6; margin: 0 0 20px;}

/*返回顶部*/
.back-top{ width: 46px; height: 46px; cursor: pointer; font-size: 20px; line-height: 46px; color: #fff; display: block; background-color: #0198e3; float: right; position: relative; right: -60px; text-align: center;}

/*公告样式*/
.noticeList h4 span{ float: right; font-size: 14px; color: #999;}
.noticeList p{ margin-top: 10px;}
.noticeList li{ padding: 10px; margin-bottom: 25px; border: solid 1px #E2E2E2;}
.marketing table{ margin-top: 20px;}
.marketing h4{ margin-bottom: 10px;}
.marketing .m-box{ padding: 50px 100px 100px;}
.marketing .page-header{ line-height: 30px;}
.marketing .page-header p{ line-height: 24px; margin: 20px 0}
.marketing p{ line-height: 40px;}
.marketing img{ max-width: 100%;}

/*大屏幕（大桌面显示器，小于 1200px）*/
@media screen and (max-width: 1200px)
{
    .position-fixed{ width: auto; position: inherit; top: 70px;}

    .col-lg-9{ padding-left: 15px;}
    .m-content{ padding: 25px;}

    .marketing .m-box{ padding: 25px;}
}